/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	 font-family: 'Open Sans';
	 text-align: center;
	 background-color: #98D2BF;
}

/* ----------------------------------------
Typography
------------------------------------------- */
h1 {
	font-family: "Oswald";
	text-transform: uppercase;
	text-align: left;
}

/* ----------------------------------------
Forms
------------------------------------------- */
form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	        justify-content: space-between;
	 margin-bottom: 25px;
}

input, textarea,select {
	border: 2px solid #dfdfdf;
    margin: 12px 0;
    padding: 10px 10px;
    outline: 0;
}


::-webkit-input-placeholder {
   color: #a9a9a9;
}

:-moz-placeholder { /* Firefox 18- */
   color: #a9a9a9;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #a9a9a9;
}

:-ms-input-placeholder {  
   color: #a9a9a9;
}

label {
	text-align: left;
}

textarea {
	width: 100%;
	display: block;
	height: 30vh;
}

/* ----------------------------------------
Layout
------------------------------------------- */
.wrap {
	background-color: #fff;
	width: 50%;
	margin: 0 auto;
	padding: 30px 60px;
}

.col-full {
	width: 100%
}

.col-third {
	width: 32%;
}

#contact {
	margin: 45px 0;
	border-bottom: 2px solid #dfdfdf;
}

#about {
	border-bottom: 2px solid #dfdfdf;
	margin: 45px 0;
}

.location {
	margin: 15px 0 25px 0;
}

.location input {
	margin: 0 10px;
}